*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
header{
  width: 100%;
  height: 80px;
  background: linear-gradient(#066A58,#2EC4A9);
}
.logo{
  width: 50px;
  margin-top: 5px;
  margin-left: 50px;
  float: left;
}
.nav{
  float: left;
  margin-left: 50px;
  list-style: none;
  margin-top: 12px;
}
.nav a{
  float: left;
  margin-right: 30px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
}
.nav a:hover{
  background-color: orange;
}
.mas:hover{
  padding-right: 80px;
  padding-bottom: 150px;
}
